<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/><uses-permission android:name="android.permission.POST_NOTIFICATIONS"/><uses-permission android:name="android.permission.FOREGROUND_SERVICE"/><uses-permission android:name="android.permission.VIBRATE"/>
 <application android:theme="@style/AppTheme" android:label="EDGE OS" android:icon="@drawable/ic_edgeos" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name=".SettingsActivity"/><activity android:name=".SearchActivity"/><activity android:name=".AppLibraryActivity"/><activity android:name=".LockScreenActivity" android:theme="@style/OverlayTheme"/>
  <activity android:name=".HomeActivity" android:screenOrientation="portrait" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.HOME"/><category android:name="android.intent.category.DEFAULT"/></intent-filter></activity>
  <activity android:name=".AppPickerActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <service android:name=".AssistiveService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="false"><intent-filter><action android:name="android.accessibilityservice.AccessibilityService"/></intent-filter><meta-data android:name="android.accessibilityservice" android:resource="@xml/edge_accessibility"/></service>
  <service android:name=".NotificationService" android:label="EDGE OS Notifications" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service>
 </application>
</manifest>
